# Puerto del servidor
PORT=3000

# Conexión a MongoDB (Docker)
BD_LINK=mongodb://admin:admin123@localhost:27017/proyecto_ia?authSource=admin

# Endpoint de Ollama
OLLAMA=http://localhost:11434/api/chat

# Modelo de IA (puede cambiarse)
MODELO=qwen2.5-coder:3b